.gl_controls {
    position: absolute;
    width: 25rem;
}

.gl_controls .panel-block {
    background-color: white;
}

.gl_controls td {
    padding: 0 3px;
}

.gl_controls input {
    margin-right: 3px;
}
