@use "bulma";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --bulma-scheme-main: white;
  --bulma-scheme-main-bis: hsl(0, 0%, 98%);
  --bulma-scheme-main-ter: hsl(0, 0%, 96%);
  --bulma-text: hsl(0, 0%, 29%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-scheme-main: rgba(17, 24, 40, 0.9);
    --bulma-scheme-main-bis: hsl(220, 40%, 20%);
    --bulma-scheme-main-ter: hsl(220, 35%, 23%);
    --bulma-body-color: hsl(210, 10%, 80%);
  }
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 100 200px;
}

.w-100 {
  width: 100%;
}

.text-wrap {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

div.globe_box {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  z-index: 0;
}

div.globe_canvas {
  padding: 0;
  margin: 0;
}

.compact-row {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;

  & > .column {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
